<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<title>{% block title %}{% endblock %}</title>

	<meta name="author" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600" />

	<link rel="stylesheet" href="/static/buyers/plugins/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/buyers/plugins/font-awesome/css/all.css" />

	<link rel="stylesheet" href="/static/buyers/css/style.css" />
	<link rel="stylesheet" href="/static/buyers/css/responsive.css" />
	<link rel="stylesheet" href="/static/buyers/css/ic-helpers.min.css" />
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>
<script type="text/javascript">
    function search() {
        var gjz =$('#gjz').val()
        $.ajax(
                {
                    url:'/buyers/search/?gjz='+gjz,  <!--传给传给视图函数的请求-->
                    type:'get',
                    data:'',
                    dataType:'json',
                    success:function (data) {
                        data1 = JSON.parse(data.data)
                        var m = Object.keys(data1).length
                        $("#asdfg").empty()

                        for (var i=0;i<m;i++){
                            var n =i+1
                            $("#h4").empty()
                            $("#h4").append('<h4>we found '+n+' products for you:</h4>')
                            var id = data1[i]['id']
                            $("#asdfg").append(' <div class="col-sm-4 col-md-4 result-box text-sm-center">\n' +
                                '\t\t\t\t\t<div class="col-md-6">\n' +
                                '\t\t\t\t\t\t<a href="http://127.0.0.1:8080/buyers/details/'+data1[i]['id']+'">\n' +
                                '\t\t\t\t\t\t\t<img src="/static/buyers/img/products/product8.png" class="img-responsive" alt="" />\n' +
                                '\t\t\t\t\t\t</a>\n' +
                                '\t\t\t\t\t</div>\n' +
                                '\n' +
                                '\t\t\t\t\t<div class="col-md-6 result-info">\n' +
                                '\t\t\t\t\t\t<a href="http://127.0.0.1:8080/buyers/details/'+data1[i]['id']+'">\n' +
                                '\t\t\t\t\t\t\t<h4>'+data1[i]['goods_name']+'</h4>\n' +
                                '\t\t\t\t\t\t</a>\n' +
                                '\n' +
                                '\t\t\t\t\t\t<p>'+data1[i]['goods_price']+'</p>\n' +
                                '\n' +
                                '\t\t\t\t\t\t<a href="http://127.0.0.1:8080/buyers/details/'+data1[i]['id']+'" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>\n' +
                                '\t\t\t\t\t</div>\n' +
                                '\t\t\t\t</div>'



                            )
                        }

                    }}



            )

    }




</script>
 <style>
        .login {
            font-size: 15px;
            width:40px;
            display: inline-block;
            margin-left: -2px;
            margin-top:0;
        }
     .logout {
            font-size: 15px;
            width:40px;
            display: inline-block;
            margin-left: -2px;
            margin-top:0;
        }
    </style>
</head>
<body>



	<!-- Left menu -->
	<div class="menu-left hidden-xs">
		<a href="{% url 'buyers:person'  %}" class="logo-left">
            {% if user.portrait %}
			    <img src="../../../../static/{{ user.portrait }}"  style="height: 100px;width=100px;margin:-15px;margin-left: 0px;"/><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人中心</label>
            {% else %}
                <img src="/static/buyers/img/logo.png" style="margin:-15px;margin-left: 0px;"><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人中心</label>
            {% endif %}
		</a>
{% if request.session.username %}
		<div class="nav-item">
			<a href="" class="text-primary">
				<i class="fas fa-user-circle fa-2x"></i>
                {% if user.username %}
                <b style="font-size: 8px;margin-left: -4px">{{ user.username }}</b>
                {% else %}
                    <b style="font-size: 8px;">{{ request.session.username }}</b>

                {% endif %}
			</a>
            &nbsp;
            <a class="logout" href="{% url 'buyers:blogout' %}">退出</a>
		</div>
{% else %}
        <div class="nav-item">
			<a href="{% url 'buyers:blogin' %}" class="text-primary">
				<i class="fas fa-user-circle fa-2x"></i>
                <span class="login" href="{% url 'buyers:blogin' %}">登录</span>
			</a>
		</div>
{% endif %}
		<div class="nav-item" style="margin-top: -50px">
			<a href="{% url 'buyers:cart' %}" class="text-primary">
				<i class="fas fa-shopping-bag fa-2x"></i>
				<span class="badge">{{ allchart }}</span>
			</a>
		</div>
		<div style="text-align: center;margin-left: -10px">
			<a href="{% url 'buyers:person_order2' %}" class="text-primary">
				<i class="fa fa-align-justify" aria-hidden="true"></i><br>
                <label style="text-align: center">我的订单</label>
			</a>
		</div>
		<div class="nav-item last">
			<a href="javascript:void(0);" onclick="openSearch();" class="text-primary">
				<i class="fas fa-search fa-2x"></i>
			</a>
		</div>
	</div>
	<!-- Left menu -->
	<!-- Right menu -->
	<div class="menu-right-btn">
		<a href="javascript:void(0);" onclick="openNav();"><i class="fas fa-bars"></i></a>
	</div>

	<div id="sidenav" class="side-nav">
		<div class="close-side-btn hidden-xs">
			<a href="javascript:void(0);" onclick="closeNav();">&times;</a>
		</div>

		<div class="cart-side-btn visible-xs">
			<a href="cart.html">
				<i class="fas fa-shopping-bag"></i>
				<span class="badge">{{ allcart }}</span>
			</a>
		</div>

		<div class="account-side-btn visible-xs">
			<a href="login.html"><i class="fas fa-user-circle"></i></a>
		</div>

		<div class="home-side-btn visible-xs">
			<a href="index.html"><i class="fas fa-desktop"></i></a>
		</div>

		<ul>
            <li><a href="{% url 'buyers:products' 0 %}">全部产品 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="{% url 'buyers:products' 1 %}">蓝牙耳机 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="{% url 'buyers:products' 2 %}">头戴系列 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="{% url 'buyers:products' 3 %}">入耳系列 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="{% url 'buyers:products' 4 %}">耳机线材 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>

			<li><hr class="m-tb-30" /></li>

			<li><a href="{% url 'buyers:products' 0 %}">产品</a></li>
{#			<li><a href="{% url 'buyers:detail' 1 %}">产品详情</a></li>#}
			<li><a href="#">关于</a></li>
			<li><a href="#">博客</a></li>
			<li><a href="#">博客站点</a></li>
			<li><a href="#">联系我</a></li>
		</ul>

		<div class="social-media-box">
			<hr />

			<a href="#" class="text-primary" target="_blank"><i class="fab fa-facebook-square"></i></a>
			<a href="#" class="text-primary" target="_blank"><i class="fab fa-google-plus-square"></i></a>
			<a href="#" class="text-primary" target="_blank"><i class="fab fa-twitter-square"></i></a>
			<a href="#" class="text-primary" target="_blank"><i class="fab fa-instagram"></i></a>
			<a href="#" class="text-primary" target="_blank"><i class="fab fa-pinterest-square"></i></a>
			<a href="#" class="text-primary" target="_blank"><i class="fab fa-linkedin"></i></a>
			<a href="#" class="text-primary" target="_blank"><i class="fab fa-youtube-square"></i></a>
		</div>
	</div>
	<!-- Right menu -->

{% block content %}
{% endblock %}

	<div id="searchoverlay" class="overlay hidden-xs">
		<div class="search-close-btn">
			<a href="javascript:void(0);" onclick="closeSearch();">&times;</a>
		</div>

		<div class="container m-t-100 m-b-100">
			<div class="row">
				<div class="col-sm-12">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-11 center-block">
								<div class="input-group">
									<input type="text" id="gjz" class="form-control search-input" placeholder="Start typing..." />

									<span class="input-group-btn">
										<button type="button" class="btn btn-primary search-button" id="serach" onclick="search()">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</form>

					<hr />
				</div>
			</div>

			<div class="row m-t-70 m-b-70">
				<div class="col-sm-12 text-center" id="h4">

				</div>
			</div>

			<div class="row m-b-20" id="asdfg">



			</div>


			<div class="row">
				<div class="col-sm-12 text-center">
					<a href="{% url 'buyers:products' 0 %}" class="text-primary link-underline">Show all results</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Search overlay -->

	<script src="/static/buyers/plugins/jquery.min.js"></script>
	<script src="/static/buyers/plugins/bootstrap/bootstrap.min.js"></script>

	<script src="/static/buyers/js/global.js"></script>

</body>

</html>
