{% extends 'buyers/base.html' %}
{% load static %}
{% block content %}
	<!-- Content -->
 <script>
        $('#sf').click(function () {
            var alltotal= $('#alltotal').text();
            $('#alltotal').text(Number(alltotal)+15)
        });
        $('#free').click(function () {
            var alltotal= $('#alltotal').text();
            $('#alltotal').text(Number(alltotal)-15)
        })
    </script>
	<div class="content-right">
		<div class="container m-t-100 m-b-100">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-xs-center">检查订单</h1>
						<div class="row">
							<div class="col-sm-12">
								<h3 class="m-tb-30 text-xs-center">你的订单</h3>

								<table class="table table-hover table-condensed">
									<tbody>
                                    {% for data in data %}

										<tr>
											<td class="col-sm-2 hidden-xs">
												<a href="#" class="thumbnail m-b-0">
													<img src="/static/{{ data.goods.goods_picture }}" alt="" />
												</a>
											</td>

											<td>{{ data.goods.goods_num }} &nbsp;x&nbsp; {{ dada.goods.goods_name }}</td>

											<td class="text-right">{{ data.total }}RMB</td>
										</tr>
                                    {% endfor %}
									</tbody>
                                        <tfoot>
										<tr>
											<td colspan="2" class="b-t-0 text-right"><h3 class="m-b-0">总计</h3></td>
											<td  class="b-t-0 text-right"><h3 id="alltotal" class="m-b-0">{{ alltotal }}RMB</h3></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					<div class="separator-one"></div>
				</div>
			</div>

			<div class="row m-t-70">
				<form>
                    {% csrf_token %}
					<div class="col-xs-12 col-sm-6 col-md-7" style="margin-top: -30px">

						<div class="row">
							<div class="col-sm-12">
								<h3 class="m-tb-30 text-xs-center">送货详情</h3>

								<div class="form-group form-group-default required">
									<label>收货人</label>
									<input type="text" name="s_name" class="form-control" required />
								</div>


								<div class="form-group form-group-default required">
									<label>详细地址</label>
									<input type="text" name="s_address" class="form-control" required />
								</div>


								<div class="form-group form-group-default">
									<label>联系方式</label>
									<input type="text" name="s_phone" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h3 class="m-tb-30 text-xs-center">订单备注</h3>

								<div class="form-group form-group-default">
									<label>关于你的订单的说明</label>
									<textarea name="message" class="form-control v-resize" rows="2"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-5">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="m-xs-t-30 m-b-30 text-xs-center">邮寄方式</h3>

								<div class="form-group form-group-default">
									<div class="radio">
										<label>
											<input type="radio" name="shipping_method" id="free" class="input-radio" value="1" checked />
											标准邮寄
										</label>

										<label class="pull-right">Free</label>
									</div>
								</div>

								<div class="form-group form-group-default">
									<div class="radio">
										<label>
											<input type="radio" name="shipping_method" id="sf" class="input-radio" value="2" />
											顺丰邮寄
										</label>

										<label class="pull-right">15.00</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<h3 class="m-tb-30 text-xs-center">付款方式</h3>

								<div class="form-group form-group-default">
									<div class="radio">
										<label>
											<input type="radio" name="payment_method" value="1" checked />
											支付宝
										</label>
									</div>
								</div>

								<div class="form-group form-group-default">
									<div class="radio">
										<label>
											<input type="radio" name="payment_method" value="2" />
											微信
										</label>
									</div>
								</div>

								<div class="form-group form-group-default">
									<div class="radio">
										<label>
											<input type="radio" name="payment_method" value="3" />
											银联
										</label>
									</div>
								</div>
							</div>
						</div>


					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<div class="separator-two m-b-30"></div>

						<button type="submit" class="btn btn-success"><i class="fas fa-shopping-bag"></i>&nbsp; 去支付订单</button>

						<p class="small m-t-20"><a href="{% url 'buyers:cart' %}"><i class="fas fa-angle-left"></i> 返回购物车</a></p>
					</div>
				</form>
			</div>
		</div>

		<!-- Footer -->
		<div class="container-fluid footer">
			<div class="row m-0">
				<div class="col-sm-12">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-5 m-b-40 text-xs-center">
								<h5>Support</h5>

								<p class="m-b-20">Our goal is to offer you a level of support that<br />matches the attention to detail of our products.</p>

								<ul class="footer-menu">
									<li>
										<i class="far fa-building"></i>&nbsp; 12 Rock Rd, VA 22066, USA
									</li>
									<li>
										<i class="fas fa-mobile-alt"></i>&nbsp; <a href="tel:0010123456789">+1 0123-456.789</a>
									</li>
									<li>
										<i class="far fa-envelope"></i>&nbsp; <a href="mailto:info@company.com">info@company.com</a>
									</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-2 m-b-40 text-xs-center">
								<h5>Company</h5>

								<ul class="footer-menu">
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">About</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Technology</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">The Team</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Blog</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Careers</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Contact</a>
									</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-2 m-b-40 text-xs-center">
								<h5>Services</h5>

								<ul class="footer-menu">
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">FAQ</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Warranty</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Payments</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Shipping & Returns</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Privacy Policy</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Terms & Conditions</a>
									</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3 m-b-40 text-xs-center">
								<h5>Newsletter</h5>

								<p class="m-b-20">Join us to get news updates from us</p>

								<form class="form-inline">
									<div class="form-group">
										<input type="text" name="subscribe" class="form-control" placeholder="Email" />
									</div>

									<button type="submit" class="btn btn-success btn-square">Join Us</button>
								</form>

								<ul class="footer-list m-t-30">
									<li>
										<a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-pinterest-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 footer-line"></div>

				<div class="col-sm-12 m-t-10">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 text-xs-center">
								<p>&copy; 2018 <a href="#">Staro</a>. All rights reserved.</p>
							</div>

							<div class="col-xs-12 col-sm-6 text-xs-center">
								<ul class="footer-list pull-xs-none pull-right">
									<li><i class="fab fa-cc-visa fa-2x"></i></li>
									<li><i class="fab fa-cc-mastercard fa-2x"></i></li>
									<li><i class="fab fa-cc-paypal fa-2x"></i></li>
									<li><i class="fab fa-cc-apple-pay fa-2x"></i></li>
									<li><i class="fab fa-cc-stripe fa-2x"></i></li>
									<li class="hidden-xs"><i class="fab fa-cc-discover fa-2x"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
	</div>
	<!-- Content -->
{% endblock %}