{% extends 'buyers/base.html' %}

{% block title %}耳机商城{% endblock %}
{% block content %}
	<!-- Content -->
	<div class="content-right">
		<!-- Slider -->
		<div id="mycarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators text-xs-center text-right">
				<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
				<li data-target="#mycarousel" data-slide-to="1"></li>
				<li data-target="#mycarousel" data-slide-to="2"></li>
			</ol>

			<!-- Slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item">
					<img src="/static/buyers/img/slider/slide1.jpg" alt="" />

					<div class="carousel-caption text-xs-center text-sm-center text-md-center text-left">
						<h1>漫步者TWS1</h1>

						<p class="text-gray m-b-80">Introducing the new ST-O S1000 Purple Edition</p>

						<a href="http://193.112.217.30/buyers/details/36/" class="btn btn-success"><i class="fas fa-rocket"></i>&nbsp; 查看详情</a>

						<span class="m-r-30 hidden-xs"></span>
						<span class="m-b-30 visible-xs"></span>

						<a href="http://193.112.217.30/buyers/details/36/" class="btn btn-success"><i class="fas fa-shopping-bag"></i>&nbsp; 立即购买</a>
					</div>
				</div>

				<div class="item">
					<img src="/static/buyers/img/slider/slide2.jpg" alt="" />

					<div class="carousel-caption text-xs-center text-sm-center text-md-center text-left">
						<h1>菲利达(FEILIDA) 无线头戴式</h1>

						<p class="text-primary m-b-80">Checkout our gaming collection</p>

						<a href="http://193.112.217.30/buyers/details/39/" class="btn btn-success"><i class="fas fa-rocket"></i>&nbsp; 查看详情</a>
					</div>
				</div>

				<div class="item">
					<img src="/static/buyers/img/slider/slide3.jpg" alt="" />

					<div class="carousel-caption text-xs-center text-sm-center text-md-center text-left">
						<h1>小米圈铁耳机 PRO</h1>

						<p class="text-white m-b-80">Introducing the new Wi-Fi headphones collection</p>

						<a href="http://193.112.217.30/buyers/details/43/" class="btn btn-success"><i class="fas fa-rocket"></i>&nbsp; 查看详情</a>
					</div>
				</div>
			</div>

			<!-- Controls -->
			<a href="#mycarousel" class="left carousel-control hidden-xs" role="button" data-slide="prev">
				<div class="carousel-arrow-left">
					<i class="fas fa-angle-left fa-3x"></i>
					<span class="sr-only">Previous</span>
				</div>
			</a>

			<a href="#mycarousel" class="right carousel-control hidden-xs" role="button" data-slide="next">
				<div class="carousel-arrow-right">
					<i class="fas fa-angle-right fa-3x"></i>
					<span class="sr-only">Next</span>
				</div>
			</a>
		</div>
		<!-- Slider -->
	</div>
	<!-- Content -->
{% endblock %}
