<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息中心</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/shops/css/font.css">
	<link rel="stylesheet" href="../../static/shops/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/shops/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/shops/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="#">个人信息中心</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ username }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="{% url "buyers:blogout" %}">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/buyers/">商城首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>个人中心</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">

                    <li>
                        <a _href="{% url "buyers:person_address" user.id %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>地址管理</cite>
                            
                        </a>
                    </li>
                    <li>
                        <a _href="{% url "buyers:person_mima" user.id %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>密码管理</cite>

                        </a>
                    </li>
                    <li>
                        <a _href="{% url "buyers:person_order" user.id %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的订单</cite>

                        </a>
                    </li>
                  
                </ul>
            </li>
          
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的信息</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                 <blockquote class="layui-elem-quote">欢迎用户：{{ username }}
            <span class="x-red"></span>         当前时间为：{{ time }}</blockquote>
            <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form" method="post" enctype="multipart/form-data" action="{% url "buyers:person" %}">
            {% csrf_token %}
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red"></span>用户ID
              </label>
              <div class="layui-input-inline">
                  <p style="color: red">不可修改</p>
                  <input type="text" id="L_email" name="goods_num" required="" autocomplete="off" class="layui-input" readonly="readonly" value="{{ user.id }}">
              </div>
          </div>
            <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>用户名：
              </label>
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="user_name" required="" autocomplete="off" class="layui-input" value="{{ user.username }}">
              </div>
          </div>
            <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>邮箱：
              </label>
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="email" required="" autocomplete="off" class="layui-input" value="{{ user.email }}">
              </div>
          </div>




		  <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>个人签名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_repass" name="user_qianming" required="" autocomplete="off" class="layui-input" value="{{ user.signature }}">
              </div>
          </div>


		  <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>头像设置
              </label>
              <div class="layui-input-inline">
                  <img src="../../static/{{ user.portrait }}" width="50px" height="50px">
                  <input type="file" id="L_repass" name="photo" multiple="multiple" required="" autocomplete="off" class="layui-input">
              </div>
          </div>



          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>

              <input type="submit" class="layui-btn" lay-filter="add" value="修改">

          </div>
      </form>
    </div>
      
    </div>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019 全球手表售卖管理后台页面 v2.3 All Rights Reserved</div>
    </div>
   
</body>
</html>