{% extends 'buyers/base.html' %}
{% block title %}商品详情{% endblock %}
{% block content %}
	<!-- Content -->
	<div class="content-right">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5 p-0">
					<div class="product-img-wrapper">
						<div class="product-img-container bg-info">
							<div class="bxslider">
                                {% for image in imgs %}

								<div><img style="width: 678px; height: 678px;" src="/static/{{ image.img_path }}" alt="" /></div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-7 m-t-100">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 m-b-70">
							<div class="row">
								<div class="col-sm-8">
									<h2 class="text-xs-center text-uppercase">产品详情</h2>
								</div>

								<div class="col-sm-4">
									<h5 class="text-xs-center text-right text-gray">{{ goods.types.label }} <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-text-bottom m-l-20" alt="" /></h5>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 m-tb-100">
									<h1>{{ goods.goods_name }}</h1>

									<h4 class="text-success">{{ goods.goods_id }}</h4>

									<p class="text-justify m-tb-70" style="margin: 50px 0px">{{ goods.goods_description }}</p>

									<h2>{{ goods.goods_now_price }}RMB <small class="strike m-l-10">{{ goods.goods_price }}RMB</small></h2>

									<div class="m-b-20">
										<a href="#" class="thumbnail variant active">
											<span class="variant-color" style="background: #8A8B89;"></span>
											<span class="variant-name">Gun-Metal</span>
										</a>

										<a href="#" class="thumbnail variant">
											<span class="variant-color" style="background: #202024;"></span>
											<span class="variant-name">Black</span>
										</a>

										<a href="#" class="thumbnail variant">
											<span class="variant-color" style="background: #991841;"></span>
											<span class="variant-name">Red</span>
										</a>
									</div>

									<a href="#" class="btn btn-success"><i class="fas fa-shopping-bag"></i>&nbsp; 加入购物车</a>
								</div>

								<!-- Tabs -->
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div role="tabpanel">
										<ul class="nav nav-tabs nav-justified text-uppercase m-b-50" role="tablist">
											<li class="active">
												<a href="#tab1" data-toggle="tab">详情</a>
											</li>

											<li>
												<a href="#tab3" data-toggle="tab">产品参数</a>
											</li>

											<li>
												<a href="#tab4" data-toggle="tab">FAQ</a>
											</li>

										</ul>

										<div class="tab-content">
											<div class="tab-pane active" id="tab1">
												{{ goods.goods_content|safe }}
											</div>

											<div class="tab-pane" id="tab3">
												<p class="text-justify m-b-50">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>

												<dl class="dl-horizontal">
													<dt>类型</dt><dd>Dynamic</dd>
													<dt>单元直径</dt><dd>45 mm</dd>
													<dt>频率响应</dt><dd>5-40,000 Hz</dd>
													<dt>最大功率</dt><dd>2,000 mW</dd>
													<dt>灵敏度</dt><dd>100 dB/mW</dd>
													<dt>阻抗</dt><dd>35 ohms</dd>
													<dt>重量</dt><dd>290 g</dd>
													<dt>线材</dt><dd>Detachable 1.2 m (3.9') standard cable, detachable 3.0 m (9.8') standard cable, detachable 1.2 m (3.9') cable with in-line controls and microphone for smartphones</dd>
													<dt>接口</dt><dd>3.5 mm gold-plated stereo mini plug, L-shaped</dd>
													<dt>包括配件</dt><dd>Protective pouch</dd>
													<dt>麦克风类型</dt><dd>Condenser</dd>
												</dl>
											</div>

											<div class="tab-pane" id="tab4">
												<h4 class="m-b-30">Do you have questions about this product?</h4>

												<p class="text-justify m-b-30">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>

												<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q1">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col1" aria-expanded="false" aria-controls="col1">
																	We're really glad to dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
																</a>
															</h4>
														</div>

														<div id="col1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q1">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">Answer</span></small>
																</div>

																<p class="text-justify">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q2">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col2" aria-expanded="false" aria-controls="col2">
																	We're really glad to dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
																</a>
															</h4>
														</div>

														<div id="col2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">Answer</span></small>
																</div>

																<p class="text-justify">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q3">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col3" aria-expanded="false" aria-controls="col3">
																	We're really glad to dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
																</a>
															</h4>
														</div>

														<div id="col3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">Answer</span></small>
																</div>

																<p class="text-justify">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q4">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col4" aria-expanded="false" aria-controls="col4">
																	We're really glad to dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
																</a>
															</h4>
														</div>

														<div id="col4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">Answer</span></small>
																</div>

																<p class="text-justify">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q5">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col5" aria-expanded="false" aria-controls="col5">
																	We're really glad to dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
																</a>
															</h4>
														</div>

														<div id="col5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">Answer</span></small>
																</div>

																<p class="text-justify">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="tab5">
												<p class="text-justify">While many listeners may believe that high-resolution audio came along with the introduction of the Compact Disc in 1982, constraints on the disc’s storage space always prevented CD audio (standardized at 44.1 kHz/16-bit) from fully and completely reproducing the original recorded sound. The advent and subsequent popularity of MP3s only made this problem more pronounced – the necessary compression of these files causes audio information to be lost, thus greatly reducing the audio quality.</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Tabs -->
							</div>
						</div>
					</div>

					<div class="row bg-white">
						<div class="col-xs-12 col-sm-1 col-md-1 vertical-col">
							<div class="recommended-text">Recommended</div>
						</div>

						<div class="col-xs-12 col-sm-10 col-md-10">
							<div class="row">
                                {% for i in data %}

								<div class="col-xs-12 col-sm-4 col-md-4">
									<a href="{% url 'buyers:details' i.goods.id %}" class="product-item">
										<img style="width: 231px;height: 231px;" src="/static/{{ i.img }}" class="img-responsive p-30" alt="" />
									</a>

									<a href="{% url 'buyers:details' i.goods.id %}">
										<h5 class="text-center m-b-20">{{ i.goods.goods_name }}</h5>
									</a>
								</div>
                                {% endfor %}
							</div>
						</div>

						<div class="col-xs-12 col-sm-1 col-md-1 hidden-xs"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Content -->
{% endblock %}


