{% extends 'buyers/base.html' %}
{% block title %}商品{% endblock %}
{% block content %}
	<!-- Content -->
	<div class="content-right">
		<div class="container m-t-100 m-b-100">
			<div class="row m-b-70">
				<div class="col-sm-8">
					<h1 class="text-xs-center">Products</h1>
				</div>

				<div class="col-sm-4">
					<h5 class="m-t-10 text-xs-center text-right text-gray">Over-ear <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-text-bottom m-l-20" alt="" /></h5>
				</div>

				<div class="clearfix"></div>

				<div class="separator-one"></div>
			</div>

			<div class="row m-b-70">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="product-banner">
						<div class="product-banner-wrapper">
							<h2 class="text-white">Over-Ear Headphones</h2>

							<p class="text-white m-b-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel natus eligendi quas</p>

							<a href="#" class="btn btn-success"><i class="fas fa-rocket"></i>&nbsp; Explore</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<div class="badge-sale-primary">Sale</div>

							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product8.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-One S1000</h5>
							</a>

							<h6 class="text-success">$199.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<div class="badge-sale-primary">-10%</div>

							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product9.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-One S2000</h5>
							</a>

							<h6 class="text-success">$299.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product10.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-One S3000</h5>
							</a>

							<h6 class="text-success">$399.00</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product1.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Two A100</h5>
							</a>

							<h6 class="text-success">$199.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product2.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Two A100</h5>
							</a>

							<h6 class="text-success">$299.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product3.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Two A100</h5>
							</a>

							<h6 class="text-success">$399.00</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="row m-b-70">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product4.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Four M200</h5>
							</a>

							<h6 class="text-success">$199.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product5.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Four M200</h5>
							</a>

							<h6 class="text-success">$299.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product6.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Four M200</h5>
							</a>

							<h6 class="text-success">$399.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="panel">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product7.png" class="img-responsive center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="m-tb-20">Staro-Four M200</h5>
							</a>

							<h6 class="text-success">$499.00</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="row m-b-70">
				<div class="col-sm-12 text-center">
					<a href="#" class="text-primary link-underline">Show more products</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="panel bg-primary">
						<div class="panel-body p-t-30 p-b-30 text-center">
							<div class="badge-sale-secondary">New</div>

							<a href="product-details.html" class="product-item">
								<img src="/static/buyers/img/products/product-sale.png" class="h-150 center-block" alt="" />
							</a>

							<a href="product-details.html">
								<h5 class="text-white m-tb-20">Staro-Four M200</h5>
							</a>

							<h6 class="text-gray">$199.00</h6>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-8 col-md-8">
					<img src="/static/buyers/img/products/banner2.jpg" class="img-responsive" alt="" />
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div class="container-fluid footer">
			<div class="row m-0">
				<div class="col-sm-12">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-5 m-b-40 text-xs-center">
								<h5>Support</h5>

								<p class="m-b-20">Our goal is to offer you a level of support that<br />matches the attention to detail of our products.</p>

								<ul class="footer-menu">
									<li>
										<i class="far fa-building"></i>&nbsp; 12 Rock Rd, VA 22066, USA
									</li>
									<li>
										<i class="fas fa-mobile-alt"></i>&nbsp; <a href="">+1 0123-456.789</a>
									</li>
									<li>
										<i class="far fa-envelope"></i>&nbsp; <a href="mailto:info@company.com">info@company.com</a>
									</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-2 m-b-40 text-xs-center">
								<h5>Company</h5>

								<ul class="footer-menu">
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">About</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Technology</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">The Team</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Blog</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Careers</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Contact</a>
									</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-2 m-b-40 text-xs-center">
								<h5>Services</h5>

								<ul class="footer-menu">
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">FAQ</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Warranty</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Payments</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Shipping & Returns</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Privacy Policy</a>
									</li>
									<li>
										<i class="fas fa-angle-right m-r-5 hidden-xs"></i> <a href="#">Terms & Conditions</a>
									</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3 m-b-40 text-xs-center">
								<h5>Newsletter</h5>

								<p class="m-b-20">Join us to get news updates from us</p>

								<form class="form-inline">
									<div class="form-group">
										<input type="text" name="subscribe" class="form-control" placeholder="Email" />
									</div>

									<button type="submit" class="btn btn-success btn-square">Join Us</button>
								</form>

								<ul class="footer-list m-t-30">
									<li>
										<a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-pinterest-square fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 footer-line"></div>

				<div class="col-sm-12 m-t-10">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 text-xs-center">
								<p>&copy; 2018 <a href="#">Staro</a>. All rights reserved.</p>
							</div>

							<div class="col-xs-12 col-sm-6 text-xs-center">
								<ul class="footer-list pull-xs-none pull-right">
									<li><i class="fab fa-cc-visa fa-2x"></i></li>
									<li><i class="fab fa-cc-mastercard fa-2x"></i></li>
									<li><i class="fab fa-cc-paypal fa-2x"></i></li>
									<li><i class="fab fa-cc-apple-pay fa-2x"></i></li>
									<li><i class="fab fa-cc-stripe fa-2x"></i></li>
									<li class="hidden-xs"><i class="fab fa-cc-discover fa-2x"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
	</div>
	<!-- Content -->
{% endblock %}
